<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Sporting Goods</title>
<meta name="description"
	content="Lead Smith - Maintain Excel Files Record">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet"
	th:href="@{/assets/css/bootstrap-datepicker3.css}">
<link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/flag-icon.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/lib/datatable/dataTables.bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/scss/style.css}">
<link th:href="@{/assets/css/lib/vector-map/jqvmap.min.css}"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/assets/css/lib/chosen/chosen.min.css}">
<!-- CSS -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css" />
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
<style>
td.details-control {
	background: url('images/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('images/details_close.png') no-repeat center center;
}

.btn-logout {
	background: white;
	border: none;
	color: black;
	padding: 4px 16px;
	font-size: 16px;
	cursor: pointer;
}
</style>
</head>
<body>
	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#main-menu" aria-controls="main-menu"
					aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./">Atomic Ski</a><a
					class="navbar-brand hidden" href="./"></a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"> <i
							class="menu-icon fa fa-dashboard"></i>Dashboard
					</a></li>
					<h3 class="menu-title">Sporting Goods Menu</h3>
					<li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a
						th:href="@{/employee}"> <i class="menu-icon fa fa-laptop"></i>User
							Management
					</a></li>
					<li><a th:href="@{/rentout}"> <i
							class="menu-icon fa fa-laptop"></i>Add Customer
					</a></li>
					<li><a th:href="@{/rentouthistory}"> <i
							class="menu-icon fa fa-laptop"></i>Customer History
					</a></li>
					<li><a th:href="@{/atomicski/export}"> <i
							class="menu-icon fa fa-laptop"></i>Export Customer Data
					</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</aside>
	<!-- /#left-panel -->

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<header id="header" class="header">

			<div class="header-menu">

				<div class="col-sm-7">
					<a id="menuToggle" class="menutoggle pull-left"><i
						class="fa fa fa-tasks"></i></a>
				</div>
				<a class="btn-logout pull-right" th:href="@{/logout}"> <i
					class="fa fa-sign-out"></i> Logout
				</a>
			</div>
		</header>
		<div class="content mt-3">

			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<small>Customer </small>Entry
					</div>
					<form th:action="@{/atomicski/save}" method="post"
						th:object="${atomicski}">
						<div class="card-body card-block">

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputEmail4">First Name</label> <input type="text"
										class="form-control" name="firstName" placeholder="First Name"
										th:field="*{firstName}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputPassword4">Last Name</label> <input
										type="text" class="form-control" name="lastName"
										placeholder="Last Name" th:field="*{lastName}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputCity">Email</label> <input type="email"
										class="form-control" name="email" placeholder="Email"
										th:field="*{email}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputZip">Phone</label> <input type="text"
										class="form-control" name="phone" placeholder="Phone"
										th:field="*{phone}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputAddress">Address</label> <input type="text"
									class="form-control" name="address" placeholder="Address"
									th:field="*{address}">
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
									<div class="form-check">
										<input class="form-check-input" th:field="*{otherThanUsa}" type="checkbox" value=""
											id="otherThanUsa"> <label class="form-check-label"
											for="defaultCheck1"> Other Than USA </label>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputCity">City</label> <input type="text"
										class="form-control" name="city" placeholder="City"
										th:field="*{city}">
								</div>
								<div class="form-group col-md-4" id="state">
									<label for="inputState">State</label> <select name="stateId"
										th:field="*{stateId}" class="standardSelect form-control"
										data-placeholder="Choose a File..." tabindex="1">

										<option th:each="state : ${states}"
											th:value="${state.stateId}" th:utext="${state.stateName}"></option>
									</select>
								</div>
								<div class="form-group col-md-4" id="province">
									<label for="inputState">Province</label>
									<input type="text"
										class="form-control" name="province" placeholder="Province"
										th:field="*{province}">
								</div>
								<div class="form-group col-md-2">
									<label for="inputZip">Zip</label> <input type="text"
										class="form-control" name="zipCode" placeholder="Zip"
										th:field="*{zipCode}">
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputState">Can we contact you by texting ?</label>
									<select name="canWeContact" class="form-control"
										th:field="*{canWeContact}">
										<option value="1" selected>Yes</option>
										<option value="0">No</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label for="inputZip">Local Accommodations</label> <input
										type="text" class="form-control" name="localAccomodation"
										placeholder="Local Accomodation"
										th:field="*{localAccomodation}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputZip">Driver's License #</label> <input
										type="text" class="form-control" name="drivingLicenseNo"
										placeholder="Driving License No"
										th:field="*{drivingLicenseNo}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputState">Driving License State</label> <select
										name="drivingLicenseStateId"
										th:field="*{drivingLicenseStateId}"
										class="standardSelect form-control"
										data-placeholder="Choose a File..." tabindex="1">
										<option th:each="state : ${states}"
											th:value="${state.stateId}" th:utext="${state.stateName}"></option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="inputZip">Weight</label> <input type="text"
										class="form-control" name="weight" placeholder="Weight"
										th:field="*{weight}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Height</label> <input type="text"
										class="form-control" name="height" placeholder="Height"
										th:field="*{height}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Birthdate</label> <input type="text"
										class="form-control" name="dateOfBirth" id="dob"
										th:field="*{dateOfBirth}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Age</label> <input type="text"
										class="form-control" name="age" placeholder="age" id="age"
										readonly="readonly" th:field="*{age}">
								</div>
							</div>

							<div class="form-row">

								<div class="form-group col-md-6">
									<label for="inputState">Down hill Skiing Level</label> <select
										name="downHillSkiingLevel" th:field="*{downHillSkiingLevel}"
										class="form-control">
										<option value="TYPE_I" selected>Type I</option>
										<option value="TYPE_II">Type II</option>
										<option value="TYPE_III">Type III</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<label for="inputState">Snowboard Stance</label> <select
										name="snowboardStance" th:field="*{snowboardStance}"
										class="form-control">
										<option value="REGULAR" selected>Regular</option>
										<option value="GOOFY">Goofy</option>
									</select>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="inputZip">Boot ID #</label> <input type="text"
										class="form-control" name="bootIdNo" placeholder="Boot ID No"
										th:field="*{bootIdNo}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Sole Length</label> <input type="text"
										class="form-control" name="SoleLength"
										placeholder="Sole Length" th:field="*{SoleLength}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Ski/Board ID #</label> <input type="text"
										class="form-control" name="skiBoardIdNo"
										placeholder="Ski Board ID No" th:field="*{skiBoardIdNo}">
								</div>
								<div class="form-group col-md-3">
									<label for="inputZip">Pole Code</label> <input type="text"
										class="form-control" name="poleCode" placeholder="Pole Code"
										th:field="*{poleCode}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputZip">Date Out</label> <input type="text"
										class="form-control" name="dateOut" id="dateOut"
										th:field="*{dateOut}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputZip">Date Due</label> <input type="text"
										class="form-control" name="dateDue" id="dateDue"
										th:field="*{dateDue}">
								</div>

							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputZip">Visual Indicator Settings</label> <input
										type="text" class="form-control"
										name="visualIndicatorSettings"
										placeholder="Visual Indicator Settings"
										th:field="*{visualIndicatorSettings}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputZip">Requested Settings</label> <input
										type="text" class="form-control" name="requestedSettings"
										placeholder="Requested Settings"
										th:field="*{requestedSettings}">
								</div>

							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputZip">Equipment Subtotal</label> <input
										type="text" id="subtotal" class="form-control"
										name="equipmentSubtotal" placeholder="Equipment Subtotal"
										th:field="*{equipmentSubtotal}">
								</div>
								<div class="form-group col-md-4">
									<label for="inputZip">Equipment Damage Protection</label> <input
										type="text" id="damage" class="form-control"
										name="equipmentProtectionDamage"
										placeholder="Equipment Protection Damage"
										th:field="*{equipmentProtectionDamage}">
								</div>
								<div class="form-group col-md-4">
									<label for="inputZip">Total</label> <input type="text"
										id="total" class="form-control" readonly="readonly"
										name="total" placeholder="Total" th:field="*{total}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputZip">Technician</label> <input type="text"
										class="form-control" name="technician"
										placeholder="Technician" th:field="*{technician}">
								</div>
								<div class="form-group col-md-6">
									<label for="inputState">Release of Liability Signed</label> <select
										name="releaseOfSignedLiability"
										th:field="*{releaseOfSignedLiability}" class="form-control">
										<option value="1" selected>Yes</option>
										<option value="0">No</option>
									</select>
								</div>

							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="inputZip">Note</label> <input type="text"
										class="form-control" name="note" placeholder="Note"
										th:field="*{note}">
								</div>


							</div>
						</div>

						<div class="card-footer">
							<button type="submit" class="btn btn-primary btn-sm"
								id="submit-btn">
								<i class="fa fa-dot-circle-o"></i> Submit
							</button>
							<button type="reset" class="btn btn-danger btn-sm" id="reset">
								<i class="fa fa-ban"></i> Reset
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<strong class="card-title">Customer Latest Record</strong>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="atomic-ski-data-table"
								class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="atmski : ${atomicskies}">
										<td th:text="${atmski.firstName}"></td>
										<td th:text="${atmski.lastName}"></td>
										<td th:text="${atmski.email}"></td>
										<td th:text="${atmski.phone}"></td>
										<td><a
											th:href="@{/atomicski/fetch/{id}(id=${atmski.atomicSkiId})}"
											class="btn btn-danger btn-sm">Fetch</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
	<!-- /#right-panel -->

	<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/assets/js/dashboard.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/datatables.min.js}"></script>
	<script
		th:src="@{/assets/js/lib/data-table/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/dataTables.buttons.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/jszip.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/pdfmake.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/vfs_fonts.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.html5.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.print.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.colVis.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/datatables-init.js}"></script>
	<script th:src="@{/assets/js/lib/bootstrap-datepicker.js}"></script>
	<script th:src="@{/assets/js/lib/bootstrap-datepicker.de.min.js}"></script>
	<script th:src="@{/assets/js/lib/jquery.inputmask.bundle.min.js}"></script>
	<script th:src="@{/assets/js/lib/chosen/chosen.jquery.min.js}"></script>
	<script
		src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
	<script>
		$('a[href*="#"]')
		// Remove links that don't actually link to anything
		.not('[href="#"]').not('[href="#0"]').click(
				function(event) {
					// On-page links
					if (location.pathname.replace(/^\//, '') == this.pathname
							.replace(/^\//, '')
							&& location.hostname == this.hostname) {
						// Figure out element to scroll to
						var target = $(this.hash);
						target = target.length ? target : $('[name='
								+ this.hash.slice(1) + ']');
						// Does a scroll target exist?
						if (target.length) {
							// Only prevent default if animation is actually gonna happen
							event.preventDefault();
							$('html, body').animate({
								scrollTop : target.offset().top
							}, 1000, function() {
								// Callback after animation
								// Must change focus!
								var $target = $(target);
								$target.focus();
								if ($target.is(":focus")) { // Checking if the target was focused
									return false;
								} else {
									$target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
									$target.focus(); // Set focus again
								}
								;
							});
						}
					}
				});

		jQuery(document).ready(function() {
			jQuery(".standardSelect").chosen({
				disable_search_threshold : 3,
				no_results_text : "Oops, nothing found!",
				width : "100%"
			});
		});

		$('#dob').datepicker({

			format : 'mm-dd-yyyy',
			autoclose : true
		}).on(
				'changeDate',
				function(e) {
					dte = $('#dob').val().split("-");
					$('#age').val(
							calculate_age(new Date(parseInt(dte[2]),
									parseInt(dte[1]), parseInt(dte[0]))));

				});

		$('#dob').trigger('changeDate');

		$('#dateOut').datepicker({

			format : 'mm-dd-yyyy',
			autoclose : true

		});

		$('#dateDue').datepicker({

			format : 'mm-dd-yyyy',
			autoclose : true

		});

		function calculate_age(dob) {
			var diff_ms = Date.now() - dob.getTime();
			var age_dt = new Date(diff_ms);

			return Math.abs(age_dt.getUTCFullYear() - 1970);
		}

		$('#atomic-ski-data-table').DataTable({
			"paging" : true,
			"lengthChange" : true,
			"searching" : true,
			"ordering" : true,
			"info" : false,
			"responsive" : true,
			"autoWidth" : false,
			"pageLength" : 10,
			"order" : [ [ 1, 'asc' ] ]
		});

		$("#subtotal").keyup(
				function() {
					subtotal = isNaN(parseInt($("#subtotal").val())) ? 0
							: parseInt($("#subtotal").val());
					damage = isNaN(parseInt($("#damage").val())) ? 0
							: parseInt($("#damage").val());
					$("#total").val(subtotal + damage);
				});

		$("#damage").keyup(
				function() {
					subtotal = isNaN(parseInt($("#subtotal").val())) ? 0
							: parseInt($("#subtotal").val());
					damage = isNaN(parseInt($("#damage").val())) ? 0
							: parseInt($("#damage").val());
					$("#total").val(subtotal + damage);
				});
		
		
		$("#province").hide();
		
		$("#otherThanUsa").change(function() {
		    if(this.checked) {
		        $("#province").show();
		        $("#state").hide();
		    }
		    else{
		    	$("#state").show();
		    	$("#province").hide();
		    }
		});
	</script>
	<script th:if="${atomicski.atomicSkiId == null}">
		$('#dob').datepicker('setDate', 'today');
		$('#dateOut').datepicker('setDate', 'today');
		$('#dateDue').datepicker('setDate', 'today');
	</script>
</body>
</html>

