<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>SLS Rental Program</title>
<meta name="description"
	content="Lead Smith - Maintain Excel Files Record">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker3.css}">
<link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
<link rel="stylesheet"  th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet"  th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/flag-icon.min.css}">
<link rel="stylesheet"  th:href="@{/assets/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/assets/css/lib/datatable/dataTables.bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/scss/style.css}">
<link th:href="@{/assets/css/lib/vector-map/jqvmap.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/lib/chosen/chosen.min.css}">
<!-- CSS -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css" />
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
<style>
td.details-control {
	background: url('/assets/images/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('/assets/images/details_close.png') no-repeat center center;
}

.btn-logout {
	background: white;
	border: none;
	color: black;
	padding: 4px 16px;
	font-size: 16px;
	cursor: pointer;
}
</style>
</head>
<body>
	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#main-menu" aria-controls="main-menu"
					aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="/employee"><img th:src="@{/images/fish.png}" /></a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"> <i
							class="menu-icon fa fa-dashboard"></i>Dashboard
					</a></li>
					<h3 class="menu-title">SLS Rental Program</h3>
					<li th:if="${#request.isUserInRole('ROLE_ADMIN')}" ><a th:href="@{/employee}"> <i
							class="menu-icon fa fa-laptop"></i>User Management
					</a></li>
					<li><a th:href="@{/rentout}"> <i
							class="menu-icon fa fa-laptop"></i>Add Customer
					</a></li>
					<li><a th:href="@{/rentouthistory}"> <i
							class="menu-icon fa fa-laptop"></i>Customer History
					</a></li>
					<li><a th:href="@{/atomicski/export}"> <i
							class="menu-icon fa fa-laptop"></i>Export Customer Data
					</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</aside>
	<!-- /#left-panel -->

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<header id="header" class="header">

			<div class="header-menu">

				<div class="col-sm-7">
					<a id="menuToggle" class="menutoggle pull-left"><i
						class="fa fa fa-tasks"></i></a>
				</div>
				<a class="btn-logout pull-right" th:href="@{/logout}">
					<i class="fa fa-sign-out"></i> Logout
				</a>
			</div>
		</header>
		<div class="content mt-3">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<strong class="card-title">All Customers History</strong>
					</div>
					<input id="atomicSkiId" type="hidden" th:value="${atomicski}"/>
					<div class="card-body">
					<div class="table-responsive">
						<table id="rent-out-data-table"
							class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Full Detail</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Email</th>
									<th>Created Date</th>
									<th>Created By</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
	<!-- /#right-panel -->

	<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script th:src="@{/assets/js/plugins.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
	<script th:src="@{/assets/js/dashboard.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/datatables.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/dataTables.buttons.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/jszip.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/pdfmake.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/vfs_fonts.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.html5.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.print.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/buttons.colVis.min.js}"></script>
	<script th:src="@{/assets/js/lib/data-table/datatables-init.js}"></script>
	<script th:src="@{/assets/js/lib/bootstrap-datepicker.js}"></script>
	<script th:src="@{/assets/js/lib/bootstrap-datepicker.de.min.js}"></script>
	<script th:src="@{/assets/js/lib/jquery.inputmask.bundle.min.js}"></script>
	<script th:src="@{/assets/js/lib/chosen/chosen.jquery.min.js}"></script>
	<script
		src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
	<script>
		$('a[href*="#"]')
		// Remove links that don't actually link to anything
		.not('[href="#"]').not('[href="#0"]').click(
				function(event) {
					// On-page links
					if (location.pathname.replace(/^\//, '') == this.pathname
							.replace(/^\//, '')
							&& location.hostname == this.hostname) {
						// Figure out element to scroll to
						var target = $(this.hash);
						target = target.length ? target : $('[name='
								+ this.hash.slice(1) + ']');
						// Does a scroll target exist?
						if (target.length) {
							// Only prevent default if animation is actually gonna happen
							event.preventDefault();
							$('html, body').animate({
								scrollTop : target.offset().top
							}, 1000, function() {
								// Callback after animation
								// Must change focus!
								var $target = $(target);
								$target.focus();
								if ($target.is(":focus")) { // Checking if the target was focused
									return false;
								} else {
									$target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
									$target.focus(); // Set focus again
								}
								;
							});
						}
					}
				});
	</script>
	<script>
	var atomicSkiId = $("#atomicSkiId").val();
	 $('#rent-out-data-table').DataTable({
         "paging": true,
         "lengthChange": true,
         "searching": true,
         "ordering": true,
         "info": false,
         "responsive": true,
         "autoWidth": false,
         "pageLength": 10,
         "ajax" : {
                     "url" : '/rentouthistorydata/'+atomicSkiId,
                     "type" : "GET"
         },
         "columns" : [ {
           "className" : 'details-control',
           "orderable" : false,
           "data" : null,
           "defaultContent" : ''
       },
 
       {
           "data" : "firstName"
       }, {
           "data" : "lastName"
       }, {
           "data" : "email"
       }
       , {
           "data" : "lastModified"
       }, {
           "data" : "lastModifiedBy.name"
       }
 
       ],
       "order" : [ [ 1, 'asc' ] ]
       });
	
	 $('#rent-out-data-table tbody').on('click', 'td.details-control',
             function() {
                 var tr = $(this).closest('tr');
                 var row = $('#rent-out-data-table').DataTable().row(tr);

                 if (row.child.isShown()) {
                     // This row is already open - close it
                     row.child.hide();
                     tr.removeClass('shown');
                 } else {
                     // Open this row
                     row.child(format(row.data())).show();
                     if(row.data().otherThanUsa){
                    	 $("#stId").text("N/A");
                     }
                     else{
                    	 getStateNameWithStateId(row.data().stateId,'s');
                     }
             	    	getStateNameWithStateId(row.data().drivingLicenseStateId,'d');
                     tr.addClass('shown');
                 }
});
	
	function format(d) {
	    // `d` is the original data object for the row
	     
	    return '<table cellpadding="0" cellspacing="0" border="0" style="padding-left:0px;">'
	            + '<tr>'
	            + '<td><b>City</b></td>'
	            + '<td>'+d.city+'</td>'
	            + '<td><b>Phone</b></td>'
	            + '<td>'+d.phone+'</td>'
	            + '<td><b>Address</b></td>'
	            + '<td>'+d.address+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Other Than USA</b></td>'
	            + '<td>'+(d.otherThanUsa?"Yes":"No")+'</td>'
	            + '<td><b>Province</b></td>'
	            + '<td>'+(d.otherThanUsa?d.province:"N/A")+'</td>'
	            + '<td><b>Country</b></td>'
	            + '<td>'+(d.otherThanUsa?d.country:"N/A")+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Email</b></td>'
	            + '<td>'+d.email+'</td>'
	            + '<td><b>Zip Code</b></td>'
	            + '<td>'+d.zipCode+'</td>'
	            + '<td><b>State</b></td>'
	            + '<td id="stId"></td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Can we contact</b></td>'
	            + '<td>'+(d.canWeContact?'Yes':'No')+'</td>'
	            + '<td><b>Local Accomodation</b></td>'
	            + '<td>'+d.localAccomodation+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Driving License No</b></td>'
	            + '<td>'+d.drivingLicenseNo+'</td>'
	            + '<td><b>Driving License State</b></td>'
	            + '<td id="dlId"></td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Age</b></td>'
	            + '<td>'+d.age+'</td>'
	            + '<td><b>Date of Birth</b></td>'
	            + '<td>'+d.dateOfBirth+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Weight</b></td>'
	            + '<td>'+d.weight+'</td>'
	            + '<td><b>Height</b></td>'
	            + '<td>'+d.height+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Downhill Skiing Level</b></td>'
	            + '<td>'+d.downHillSkiingLevel+'</td>'
	            + '<td><b>Snowboard Stance</b></td>'
	            + '<td>'+d.snowboardStance+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Boot Id No</b></td>'
	            + '<td>'+d.bootIdNo+'</td>'
	            + '<td><b>Sole Length</b></td>'
	            + '<td>'+d.soleLength+'</td>'
	            + '<td><b>Skiboard Id No</b></td>'
	            + '<td>'+d.skiBoardIdNo+'</td>'
	            + '<td><b>Pole Code</b></td>'
	            + '<td>'+d.poleCode+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Date Out</b></td>'
	            + '<td>'+d.dateOut+'</td>'
	            + '<td><b>Date Due</b></td>'
	            + '<td>'+d.dateDue+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>V I Settings</b></td>'
	            + '<td>'+d.visualIndicatorSettings+'</td>'
	            + '<td><b>R Settings</b></td>'
	            + '<td>'+d.requestedSettings+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Equipment Subtotal</b></td>'
	            + '<td>'+d.equipmentSubtotal+'</td>'
	            + '<td><b>Damage Protection</b></td>'
	            + '<td>'+d.equipmentProtectionDamage+'</td>'
	            + '<td><b>Total</b></td>'
	            + '<td>'+d.total+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Technician</b></td>'
	            + '<td>'+d.technician+'</td>'
	            + '<td><b>Signed Liability</b></td>'
	            + '<td>'+(d.releaseOfSignedLiability?'Yes':'No')+'</td>'
	            + '</tr>'
	            + '<tr>'
	            + '<td><b>Note</b></td>'
	            + '<td>'+d.note+'</td>'
	            + '</tr>'
	            
	            + '</table>';
	}
	
	
	function getStateNameWithStateId(id,stType){
		
		url1 = '/getStateName/'+id;
		$.ajax({
		       url: url1 , // point to server-side PHP script 
		      // dataType: 'text',  // what to expect back from the PHP script, if anything
		       cache: false,
		       contentType: false,
		       processData: false,                 
		       type: 'GET',
		       success: function(response){
		    	   if(stType == 's'){
		    		   $("#stId").text(response.stateName);
		    	   }
		    	   else{
		    		   $("#dlId").text(response.stateName);
		    	   }
		    	   
		       }
		   });
		
		
	}
	</script>
</body>
</html>

